@import "tailwindcss";

@theme {
  --color-brand-purple: #624b99;
  --color-brand-purple-dark: #4f3d7a;
  --color-brand-gold: #fab515;
}

:root {
  font-family: system-ui, inter, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
